#root{
  text-align: center;
}

main{
  padding: 10%;
}

p, td, th{
  color: white;
}

form{
  display: grid;
  padding: 5% 20%;

  & label{
    display: flex;
  }
}

footer{
  background-color: black;
  color: gray;
  padding: 2rem;
}