#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: auto 6rem auto;
}

main form, main section{
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

p, td, th{
  color: white;
}