{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'my-wallet:transactions' %}">MaxInvest</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-wallet:transactions' %}">Minhas Transações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-wallet:stocks_bought' %}">Ações Compradas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sair</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Entrar</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>

    <div class="d-flex justify-content-evenly align-items-center mt-5">
        <h1>Ações Compradas</h1>
    </div>

    <div class="d-flex justify-content-center">
        <table class="table table-bordered m-5">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Total Transações</th>
            <th>Total Quantidade</th>
            <th>Total Final</th>
            <th>Preço Médio</th>
        </tr>
        </thead>
        <tbody>
        {% for summary in stock_summary %}
            <tr>
            <td>{{ summary.code }}</td>
            <td>{{ summary.name }}</td>
            <td>{{ summary.total_transactions }}</td>
            <td>{{ summary.total_quantity }}</td>
            <td>{{ summary.total_final }}</td>
            <td>{{ summary.preco_medio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
