{% extends 'base.html' %}

{% block content %}
    <h2 class="d-flex justify-content-center mt-5">Transação Detalhes</h2>

    <div class="d-flex justify-content-center align-items-center mt-5">
        <a href="{% url 'my-wallet:update_transaction' transaction.id %}" class="btn btn-primary mx-2">Atualizar</a>
        <a href="{% url 'my-wallet:delete_transaction' transaction.id %}" class="btn btn-danger mx-2">Deletar</a>
        <a href="{% url 'my-wallet:transactions' %}" class="btn btn-secondary mx-2">Voltar</a>
    </div>
    
    <div class="d-flex justify-content-center mx-5">
        <table class="table table-bordered m-5">
            <tr>
                <th>Ação</th>
                <td>{{ transaction.stock.code }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ transaction.stock.name}}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ transaction.date }}</td>
            </tr>
            <tr>
                <th>Valor Unitário</th>
                <td>R$ {{ transaction.value }}</td>
            </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th>Valor Total</th>
                <td>R$ {{ transaction.total_value }}</td>
            </tr>
            
            <tr>
                <th>Corretagem</th>
                <td>R$ {{ transaction.brokerage }}</td>
            </tr>
            <tr>
                <th>Taxa B3</th>
                <td>R$ {{ transaction.taxab3 }}</td>
            </tr>
            <tr>
                <th>Total de Taxas</th>
                <td>R$ {{ transaction.total_taxas }}</td>
            </tr>

            <tr>
                <th>Tipo</th>
                <td>{{ transaction.get_type_display }}</td>
            </tr>
            <tr>
                <th>Total Final</th>
                <td>R$ {{ transaction.total_final }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
