{% extends 'base.html' %}

{% block content %}

  <h2 class="d-flex justify-content-center m-5">Atualizar Transação</h2>

  <div class="d-flex justify-content-center mx-5 p-4 border">
    <form method="post" id="update-transaction-form">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <hr/>
      <div class="text-center">
        <button class="btn btn-primary text-center" type="submit">Atualizar</button>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center m-5">
    <a href="{% url 'my-wallet:transactions' %}" class="btn btn-secondary">Voltar</a>
  </div>
{% endblock %}