{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'my-wallet:transactions' %}">MaxInvest</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my-wallet:transactions' %}">Minhas Transações</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{request.user}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Sair</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Entrar</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>


    <div class="d-flex justify-content-evenly align-items-center mt-5">
        <h1>Transações do Usuário</h1>
        <a href="{% url 'my-wallet:add_transaction' %}" class="btn btn-primary">Adicionar Transação</a>
    </div>
    
    <div class="d-flex justify-content-center">
        <table class="table table-bordered m-5">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>- - - - -</th>
                    <th>- - - - -</th>
                    <th>- - - - -</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.stock_code }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.value }}</td>
                    <td>
                        <a href="{% url 'my-wallet:transaction_details' transaction.id %}" class="btn btn-info">Detalhes</a>
                    </td>
                    <td>
                        <a href="{% url 'my-wallet:update_transaction' transaction.id %}" class="btn btn-primary">Atualizar</a>
                    </td>
                    <td>
                        <a href="{% url 'my-wallet:delete_transaction' transaction.id %}" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
